# data/output
data/*
outputs/*
!data/.gitkeep
!data/original/
data/original/*
!data/original/.gitkeep
!outputs/.gitkeep

# notebooks checkpoints
**/.ipynb_checkpoints/

# OS/Editor
.DS_Store
.vscode/

# Python
__pycache__/
*.pyc

# Local test reports
TEST_REPORT.md
TEST_REPO*

# LaTeX build
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.bbl
report/*.blg
report/*.fdb_latexmk
report/*.fls
